.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    padding: 20px;

}

h1{
    font-size: 24pt;
    padding-top: 0px;
    margin-top: 0px;
}

.jumbotron{
    padding-top: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

input
{
    background-color: rgb(65, 16, 65);
    color: white;
    font-size: 16pt;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border-color: rgb(73, 1, 73);
    border-style: groove;
}

li
{
    font-size: 16pt;
    margin: 5px;
}

#quizQuest
{
    font-size: 20pt;
}

#A
{
    background-color: rgb(65, 16, 65); 
    color: white; 
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#B
{
    background-color: rgb(65, 16, 65); 
    color: white; 
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#C
{
    background-color: rgb(65, 16, 65); 
    color: white; 
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#D
{
    background-color: rgb(65, 16, 65); 
    color: white; 
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#initialEntry
{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(70, 69, 69);

}

#header
{
    width: 100%
}
#timer
{
    display: inline-block;
    text-align: right;
}
#newLink
{
    display: inline-block;
}